extends layout

block content
    #banner.page-headre
        .row
            .col-md-6.col-sm-12
                h1= title
    .row
        .col-md-6.col-sm-12
            p
                |  Loc8r was created to help people find places to sit down and get a bit of work done.
                |  <br /><br />
                |  Spicy jalapeno bacon ipsum dolor amet sausage ham hock drumstick leberkas pig ex et esse ball tip dolore non boudin nulla landjaeger pork chop. Ut culpa in, turducken veniam pork chop landjaeger. Short loin pig ipsum, pancetta turkey dolore eu flank proident frankfurter dolore mollit. Mollit do shoulder sunt non commodo. Meatloaf officia id nisi commodo.
